@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,400;1,500;1,700&display=swap');


.login{
    height:100vh;
    width:100vw;
    display:grid;
    place-items:center;
    margin-top: -70px;

}

.login-container{
    padding:100px;
    text-align:center;
    background-color: #84fb95;
    background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%);
    border-radius: 10px;
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12);
}

.login-container > .login-text> h1{
    opacity: 0.9;
    font-family: 'Signika', sans-serif;
}

.login-container > .MuiSvgIcon-root{
    font-size: 180px;
    color: #57ED47;
    text-shadow: 2px 2px  whitesmoke;
    margin-bottom: 40px;
}

.login-container > button{
    margin-top: 40px;
    text-transform: inherit !important;
    background-color:#57ED47 !important;
    padding: 10px 20px !important;
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    color: #1C2833;
}